<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Products Manager</title>
		<link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/d/d1/Toad_3D_Land.png">
		{%load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav-icon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-16x16.png' %}" sizes="16x16">
	</head>
	<body>
		<!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- Navbar -->
		<section class="theme_menu stricky">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="main-logo">
							<a href="/" class="brand-logo center"><img src="{% static 'images/logo/chRMc.png' %}" height="50" alt=""></a>
						</div>
					</div>
					<div class="col-md-8 menu-column">
						<nav class="menuzord" id="main_menu">
							<ul class="menuzord-menu">
								<li><a href="/admin">Home</a></li>
								<li><a href="/products">Manage products</a></li>
								<li><a href="/orders">Manage orders</a></li>
								<li><a href="{%url 'signout' %}">Log out</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- Edit Product -->
		<div class="">
			<form class="" action="{% url 'submit_edited_product' product_id=product.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset>
					<legend>Add product</legend>
					<div class="">
						<span>Name: </span>
						<input type="text" placeholder="{{product.name}}" name="product_name">
					</div>
					<div class="">
						<span>Description: </span>
						<textarea id="product_desc" placeholder="{{product.description}}" class="materialize-textarea" name="product_description"></textarea>
					</div>
					<div class="">
						<span>Category: </span>
						<select class="icons browser-default" name="product_category">
							<option value="default">Choose your option</option>
							{% for category in categories %}
								<option value="{{category.name}}" data-icon="" class="left circle">{{category.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="">
						<input type="text" placeholder="Or new category" name="product_new_category">
					</div>
					<div class="">
						<span>Price: </span>
						<input type="number" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" placeholder="Product Price" name="product_price">
					</div>
					<div class="">
						<span>Inventory: </span>
						<input type="number" step="1" placeholder="Product Inventory" name="product_inventory">
					</div>
					<div class="">
						<div class="">
							<span>Main Image: </span>
							<input type="file" name="image_file_main" accept="image/*">
						</div>
					</div>
					<div class="">
						<div class="">
							<span>Extra Image: </span>
							<input type="file" name="image_file" accept="image/*" multiple>
						</div>
					</div>
					<div class="">
						<div class="">
							<p>Old Main Image</p>
							{% for image in product.imageofproduct.all %}
								{% if image.main == True %}
									<img src="{{image.image.url}}" height="100" width="100" alt="">
								{% endif %}
							{% endfor %}
						</div>
						<div class="">
							<p>Old Extra Images</p>
							{% for image in product.imageofproduct.all %}
								{% if image.main == False %}
									<img src="{{image.image.url}}" height="100" width="100" alt="">
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<input class="" type="submit" name="" value="Confirm Changes to Product">
				</fieldset>
			</form>
		</div>
		<!-- jQuery js -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<!-- bootstrap js -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- jQuery ui js -->
		<script src="{% static 'js/jquery-ui.js' %}"></script>
		<!-- owl carousel js -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- jQuery validation -->
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>

		<!-- mixit up -->
		<script src="{% static 'js/wow.js' %}"></script>
		<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
		<script src="{% static 'js/jquery.fitvids.js' %}"></script>
		<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
		<script src="{% static 'js/menuzord.js' %}"></script>

		<!-- revolution slider js -->
		<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.actions.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.carousel.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.kenburn.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.migration.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.navigation.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.video.min.js' %}"></script>

		<!-- fancy box -->
		<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<script src="{% static 'js/isotope.js' %}"></script>
		<script src="{% static 'js/jquery.polyglot.language.switcher.js' %}"></script>
		<script src="{% static 'js/nouislider.js' %}"></script>
		<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
		<script src="{% static 'js/SmoothScroll.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/jquery.countTo.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/imagezoom.js' %}"></script>
		<script src="{% static 'js/bxslider.js' %}"></script>
		<script id="map-script" src="{% static 'js/default-map.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>
