<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Log in and Registration Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Log in and Registration</h1>
            <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
            <!-- Register -->
            <div class="row">
                <form class="" action="{%url 'register' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Register</legend>
                        <div class="input-field col s12 m6 l6">
                            <input type="text" placeholder="First Name" name="first_name">
                        </div>
                        <div class="input-field col s12 m6 l6">
            				<input type="text" placeholder="Last Name" name="last_name">
                        </div>
                        <div class="input-field col s12">
            				<input type="text" placeholder="Email" name="email">
                        </div>
                        <div class="input-field col s12 m6 l6">
            				<input type="password" placeholder="Password" name="password">
                        </div>
                        <div class="input-field col s12 m6 l6">
            				<input type="password" placeholder="Confirm Password" name="password_confirmation">
                        </div>
                        <input class="btn waves-effect waves-light deep-purple darken-1" type="submit" name="" value="Register">
                    </fieldset>
                </form>
            </div>
            <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
            <!-- Log in -->
            <div class="row">
                <form class="" action="{%url 'login' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Log in</legend>
                        <div class="input-field col s12">
    		                <input type="text" placeholder="Email" name="email">
                        </div>
                        <div class="input-field col s12">
        				    <input type="password" placeholder="Password" name="password">
                        </div>
        				<input class="btn waves-effect waves-light deep-purple darken-1" type="submit" name="" value="Log In">
                    </fieldset>
                </form>
            </div>
            <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
            <!-- Errors -->
            <div class="row">
                {% if messages %}
        		<ul class="messages">
        		    {% for message in messages %}
        		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        		    {% endfor %}
        		</ul>
        		{% endif %}
            </div>
        </div>
    </body>
</html>
