<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
    <!-- Navbar -->
    <div class="nav">
      <nav>
				<div class="">
					<a href="/" class="brand-logo center">Silkroad</a>
          {% if logged_user == 1%}
						<ul class="left">
							<li><a href="/admin">Admin</a></li>
						</ul>
          {% endif %}
          {% if logged_user != 0 %}
						<ul class="left">
							<li><a href="/user">User Dashboard</a></li>
						</ul>
						<ul class="right">
							<li><a href="{% url 'signout' %}">Log out</a></li>
              <li><a href="{% url 'shopping_cart' %}">Shopping Cart ({{cart_item}})</a></li>
						</ul>
          {% endif %}
          {% if logged_user == 0 %}
						<ul class="right">
							<li><a href="{% url 'login_registration' %}">Log In</a></li>
						</ul>
          {% endif %}
				</div>
      </nav>
    </div>
		<!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
    <!-- Product -->
		<h3>{{product.name}}</h3>
		<div class="">
			{% for image in product.imageofproduct.all %}
				{% if image.main == True %}
					<img src="{{image.image.url}}" alt="">
				{% endif %}
			{% endfor %}
		</div>
		<div class="">
			{% for image in product.imageofproduct.all %}
				{% if image.main == False %}
					<img src="{{image.image.url}}" height="100" width="100" alt="">
				{% endif %}
			{% endfor %}
		</div>
		<div class="">
			Price: {{product.price}}
		</div>
		<div class="">
			Inventory: {{product.inventory}}
		</div>
		<div class="">
			<form class="" action="{% url 'add_to_cart' product_id=product.id %}" method="post">
				{% csrf_token %}
				<div class="">
					Quantity: <input type="number" step="1" min="1" max="{{product.inventory}}" name="product_quantity">
				</div>
				<input type="submit" name="" value="Add to Cart">
			</form>
		</div>
	</body>
</html>
