<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Silkroad</title>
		{%load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav-icon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-16x16.png' %}" sizes="16x16">
	</head>
	<body>
		<!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- Navbar -->
		<section class="theme_menu stricky">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="main-logo">
							<a href="/" class="brand-logo center"><img src="{% static 'images/logo/chRMc.png' %}" height="50" alt=""></a>
						</div>
					</div>
					<div class="col-md-8 menu-column">
						<nav class="menuzord" id="main_menu">
							{% if logged_user == 1%}
								<ul class="menuzord-menu">
									<li><a href="/admin">Admin</a></li>
								</ul>
							{% endif %}
							{% if logged_user != 0 %}
								<ul class="menuzord-menu">
									<li><a href="/user">User Dashboard</a></li>
									<li><a href="{% url 'signout' %}">Log out</a></li>
									<li><a href="{% url 'shopping_cart' %}">Shopping Cart ({{cart_item}})</a></li>
								</ul>
							{% endif %}
							{% if logged_user == 0 %}
								<ul class="menuzord-menu">
									<li><a href="{% url 'login_registration' %}">Log In</a></li>
								</ul>
							{% endif %}
						</nav>
					</div>
					<div class="right-column">
						<div class="right-area">
							<div class="nav_side_content">
								<div class="search_option">
									<button class="search tran3s dropdown-toggle color1_bg" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></button>
									<form action="#" class="dropdown-menu" aria-labelledby="searchDropdown">
										<input type="text" placeholder="Search...">
										<button><i class="fa fa-search" aria-hidden="true"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- Main content -->
		<div class="shop sec-padd">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12 sidebar_styleTwo">
						<div class="wrapper">
							<div class="sidebar_search">
								<form action="#">
									<input type="text" placeholder="Search....">
									<button class="tran3s color1_bg"><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div><br><br>
							<div class="category-style-one">
								<div class="theme_inner_title">
									<h3>Categories</h3>
									<ul class="list">
										{% for category in categories %}
											<li class="clearfix"><a href="{% url 'browse' category_name=category.name current_page=1 %}">{{category.name}}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div class="single-products-details">
							<div class="product-content-box">
								<div class="row">
									<div class="col-md-6 img-box">
										<div class="flexslider">
											<ul class="slides">
												{% for image in product.imageofproduct.all %}
													{% if image.main == False %}
														<li data-thumb="{{image.image.url}}">
															<img src="{{image.image.url}}" data-imagezoom="true" alt="">
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="col-md-6">
										<div class="content-box">
											<h3>{{product.name}}</h3>
											<p>{{product.inventory}} left in stock</p>
											<div class="review-box">
												<ul>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-o"></i></li>
												</ul>
											</div>
											<span class="price">${{product.price}}</span>
											<div class="text">
												<p>{{product.description}}</p>
											</div>
											<div class="addto-cart-box">
												<form class="" action="{% url 'add_to_cart' product_id=product.id %}" method="post">
													{% csrf_token %}
													Quantity: <input class="quantity-spinner" type="number" step="1" min="1" max="{{product.inventory}}" name="product_quantity" value="1">
													<input class="thm-btn" type="submit" name="" value="Add to Cart">
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- jQuery js -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<!-- bootstrap js -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- jQuery ui js -->
		<script src="{% static 'js/jquery-ui.js' %}"></script>
		<!-- owl carousel js -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- jQuery validation -->
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>

		<!-- mixit up -->
		<script src="{% static 'js/wow.js' %}"></script>
		<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
		<script src="{% static 'js/jquery.fitvids.js' %}"></script>
		<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
		<script src="{% static 'js/menuzord.js' %}"></script>

		<!-- revolution slider js -->
		<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.actions.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.carousel.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.kenburn.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.migration.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.navigation.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>
		<script src="{% static 'js/revolution.extension.video.min.js' %}"></script>

		<!-- fancy box -->
		<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<script src="{% static 'js/isotope.js' %}"></script>
		<script src="{% static 'js/jquery.polyglot.language.switcher.js' %}"></script>
		<script src="{% static 'js/nouislider.js' %}"></script>
		<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
		<script src="{% static 'js/SmoothScroll.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/jquery.countTo.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/imagezoom.js' %}"></script>
		<script src="{% static 'js/bxslider.js' %}"></script>
		<script id="map-script" src="{% static 'js/default-map.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>
