<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
    <!-- Navbar -->
    <div class="nav">
      <nav>
				<div class="">
					<a href="/" class="brand-logo center">Silkroad</a>
          {% if logged_user == 1%}
						<ul class="left">
							<li><a href="/admin">Admin</a></li>
						</ul>
          {% endif %}
          {% if logged_user != 1 and logged_user != 0 %}
						<ul class="left">
							<li><a href="/user">User Dashboard</a></li>
						</ul>
          {% endif %}
          {% if logged_user != 0 %}
						<ul class="right">
							<li><a href="{% url 'signout' %}">Log out</a></li>
							<li><a href="{% url 'shopping_cart' %}">Shopping Cart ({{cart_item}})</a></li>
						</ul>
          {% endif %}
          {% if logged_user == 0 %}
						<ul class="right">
							<li><a href="{% url 'login_registration' %}">Log In</a></li>
						</ul>
          {% endif %}
				</div>
      </nav>
    </div>
    <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- View Product -->
    {% if error|length > 0 %}
      <div class="">
        {% for err in error %}
          <p style="color:red">{{err}}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="">
      <h3>Shopping Cart:</h3>
      <table class="bordered striped highlight">
        <thead>
          <tr>
            <th>Main Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Extra Images</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
          <tr>
            <td>
            {% for image in item.product.imageofproduct.all %}
              {% if image.main == True %}
                <a href="{% url 'product_page' product_id=item.product.id %}"><img src="{{image.image.url}}" height="100" width="100" alt=""></a>
              {% endif %}
            {% endfor %}
            </td>
            <td><a href="{% url 'product_page' product_id=item.product.id %}">{{item.product.name}}</a></td>
            <td>{{item.product.description}}</td>
            <td>{{item.product.price}}</td>
            {% if item.quantity > item.product.inventory %}
              <td>
                <form class="" action="{% url 'change_quantity' product_id=item.product.id%}" method="post">
                  {% csrf_token %}
                  <div class="">
                    {% if item.product.ongoing == True %}
                      <span style="color:red">{{item.quantity}}</span> <input type="number" step="1" min="1" max="{{item.product.inventory}}" name="product_quantity">
                    {% endif %}
                    {% if item.product.ongoing == False %}
                      <span>{{item.quantity}}</span> <input type="number" step="1" min="1" max="{{item.product.inventory}}" name="product_quantity">
                    {% endif %}
                  </div>
                  <input type="submit" name="" value="Change">
                </form>
                <form class="" action="{% url 'remove_cart_item' product_id=item.product.id%}" method="post">
                  {% csrf_token %}
                  <input type="submit" name="" value="Remove">
                </form>
            </td>
            {% endif %}
            {% if item.quantity <= item.product.inventory %}
              <td>
                <form class="" action="{% url 'change_quantity' product_id=item.product.id%}" method="post">
                  {% csrf_token %}
                  <div class="">
                    <span>{{item.quantity}}</span> <input type="number" step="1" min="1" max="{{item.product.inventory}}" name="product_quantity">
                  </div>
                  <input type="submit" name="" value="Change">
                </form>
                <form class="" action="{% url 'remove_cart_item' product_id=item.product.id%}" method="post">
                  {% csrf_token %}
                  <input type="submit" name="" value="Remove">
                </form>
              </td>
            {% endif %}
            <td>
            {% for image in item.product.imageofproduct.all %}
              {% if image.main == False %}
                <img src="{{image.image.url}}" height="100" width="100" alt="">
              {% endif %}
            {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- Cost -->
    <div class="">
      Raw Total: {{raw_total}}
    </div>
    <div class="">
      Tax (7.5%): {{tax}}
    </div>
    <div class="">
      Shipping Cost: {{shipping}}
    </div>
    <div class="">
      Total: {{total}}
    </div>
    <div class="">
      {% if cart.count >= 1 %}
        <form class="" action="{% url 'check_out' %}" method="get">
          <input type="submit" name="" value="Proceed to Checkout">
        </form>
      {% endif %}
    </div>
  </body>
</html>
