<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Order</title>
  </head>
  <body>
    <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
    <!-- Navbar -->
    <div class="nav">
      <nav>
				<div class="">
					<a href="/" class="brand-logo center">Silkroad</a>
          {% if logged_user == 1%}
						<ul class="left">
							<li><a href="/admin">Admin</a></li>
						</ul>
          {% endif %}
          {% if logged_user != 0 %}
            <ul class="left">
              <li><a href="/user">User Dashboard</a></li>
            </ul>
						<ul class="right">
							<li><a href="{% url 'signout' %}">Log out</a></li>
							<li><a href="{% url 'shopping_cart' %}">Shopping Cart ({{cart_item}})</a></li>
						</ul>
          {% endif %}
          {% if logged_user == 0 %}
						<ul class="right">
							<li><a href="{% url 'login_registration' %}">Log In</a></li>
						</ul>
          {% endif %}
				</div>
      </nav>
    </div>
    <!-- =  =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   =   = -->
		<!-- Orders -->
		<div class="">
			<table>
				<thead>
					<tr>
            <th>Image</th>
						<th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
						<th>Order Status</th>
					</tr>
				</thead>
				<tbody>
          {% for item in order.orderofproduct.all %}
  					<tr>
              <td>
                {% for image in item.product.imageofproduct.all %}
                  {% if image.main == True %}
                    <a href="{% url 'product_page' product_id=item.product.id %}"><img src="{{image.image.url}}" height="100" width="100" alt=""></a>
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{item.product.name}}</td>
              <td>{{item.product.description}}</td>
              <td>{{item.quantity}}</td>
  						<td>{{order.status}}</td>
  					</tr>
          {% endfor %}
				</tbody>
			</table>
		</div>
  </body>
</html>
